.header{
    /* background-image:url("./img/Nitp_Logo.png"); */
    /* background-repeat: no-repeat; */
    background-position: center;
    /* opacity: 30%; */
    background-color: rgb(242, 249, 253);
    border: 2px solid gray;
    border-radius: 4px;
    max-width: 450px;
    min-width: 450px;
    margin-left: 10px;
    margin-right: 20px;;
}
.nitp{
    text-align: center;
    color: rgb(49, 20, 59);
}
.profile{
    height: 100px;
    display: flex;
}
.dp{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 80px;
}
.profile-img{
    width: 125px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    display: flex;
}
.profile-details{
    border: 1px solid lightgray;
    flex:1;
}
.name, .roll, .branch , .company {
    padding-left: 20px;
}
.Card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x:scroll;
}
.whole{
    padding-bottom: 1000px;
}
.order-tag{
    cursor: pointer;
}

