<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input{
            /* border-style: none; */
            border-width: 0;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div className="main">
        <select defaultValue="DEFAULT">
          <option value="DEFAULT" >None</option>
          <option value="ascending">Ascending</option>
          <option value="descending">Descending</option>
        </select>
    </div>
</body>
</html>